html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}


.raven-site-logo img[src$="/logo-1.png"] {
  width: 196px;
  height: 196px;
}

.raven-nav-menu-mobile {
  display: none;
}

.raven-nav-menu-mobile.ltv-menu-open {
  display: block;
}

.wpcf7-response-output {
  display: none;
}
